@import "tailwindcss";

.custom-transition {
  transition: 0.8s ease;
}

.profile-pic {
  background: linear-gradient(#12f7d6, #ffffff);
}

.pic-gradient {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 80.04%);
}

.about-bg {
  background-image: url(../public/about_pattern.png);
  background-size: cover;
  background-position: center;
}

.skills-bg {
  background-image: url(../public/skills_bg.png);
  background-size: cover;
  background-position: center;
}

.work-bg {
  background-image: url(../public/my_work_bg.png);
  background-size: 400px;
  background-repeat: repeat;
}

.project-text {
  background: linear-gradient(
      270deg,
      rgba(18, 247, 214, 0.15) 0%,
      rgba(18, 247, 214, 0.15) 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;

  background-size: cover;
}

.ptext-cover {
  background: url(../public/showcase_imgs/ptext_bg.png);
  background-size: cover;
}

.ptext-overlay {
  background: radial-gradient(
      90.16% 143.01% at 15.32% 21.04%,
      rgba(18, 247, 214, 0.2) 0%,
      rgba(18, 247, 214, 0.0447917) 77.08%,
      rgba(18, 247, 214, 0) 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  backdrop-filter: blur(80px);
}

.proj-gradient {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(18, 247, 214, 0.25) 0%,
    rgba(30, 93, 84, 0) 100%
  );
}

.text-area-scroll::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}

.text-area-scroll::-webkit-scrollbar-track {
  background: transparent;
}
.text-area-scroll::-webkit-scrollbar-thumb {
  height: 2px;
}
